body {
    display: inline-block;
}    
    
    .raudonas-fonas {
        display: inline-block;
        background-color: red;
        padding: 10px;
        border-radius: 10px;
        color: blue;
    }
    .greeting {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;
        font-weight: 700;
        text-decoration: wavy;
    }